body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    color: #2c3e50;
}

#output-container {
    margin-top: 20px;
}

#output-image, #output-video {
    margin-top: 20px;
    border: 2px solid #2c3e50;
    padding: 10px;
}
